[Desktop Entry]
Encoding=UTF-8
Value=1.0
Type=Application
Name=Psychonauts
GenericName=Psychonauts
Comment=
Icon=/opt/psychonauts/psychonauts.png
Exec=/usr/bin/psychonauts
Categories=Game;ActionGame;
Path=/opt/psychonauts
